A {
	COLOR: #020a88; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:active {
	COLOR: #020a88; FONT-FAMILY: arial
}
A:visited {
	COLOR: #020a88; FONT-FAMILY: arial
}
A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-FAMILY: arial
}
#localheadtopic {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial; LETTER-SPACING: 0pt; TEXT-ALIGN: right
}
#localhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #020a88; FONT-FAMILY: arial; LETTER-SPACING: 0pt; TEXT-ALIGN: right
}
#localfoot {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: arial
}
#question-title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #404040; TEXT-ALIGN: center
}
#question {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #d3d3d3
}
#question-text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 8pt; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: arial; BACKGROUND-COLOR: #d3d3d3
}
#question-intro {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: arial
}
#blue-title {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #020a87; PADDING-TOP: 1px; FONT-FAMILY: arial
}
#intervention {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #020a87; TEXT-ALIGN: center
}
#intervention-text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 8pt; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: arial; BACKGROUND-COLOR: #d6d9ec
}
#coveredfuturetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial
}
#coveredfuture {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial
}
#key-message {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; FONT-FAMILY: arial; BACKGROUND-COLOR: #404040; TEXT-ALIGN: center
}
#key-message-heading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#key-message-data {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#option-title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #020a87; TEXT-ALIGN: center
}
#option {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: arial; BACKGROUND-COLOR: #d6d9ec; COLOR2: #020a87
}
#option-intro {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: arial
}
#reference {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial
}
#text-box {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; MARGIN-TOP: 1pt; BORDER-LEFT: #b2b2b2 1px solid; BORDER-BOTTOM: #b2b2b2 1px solid; BACKGROUND-COLOR: white
}
#title {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #020a88; FONT-FAMILY: arial; LETTER-SPACING: 0pt
}
#sub-title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial
}
#title-author {
	FONT-SIZE: 10pt; COLOR: #020a87; FONT-STYLE: italic; FONT-FAMILY: arial
}
#menu {
	FONT-SIZE: 8pt; COLOR: #020a88; FONT-FAMILY: arial
}
#menu:active {
	FONT-SIZE: 8pt; COLOR: #020a88; FONT-FAMILY: arial
}
#menu:visited {
	FONT-SIZE: 8pt; COLOR: #020a88; FONT-FAMILY: arial
}
#menu:hover {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666666; FONT-FAMILY: arial
}
P {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial
}
BODY {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial
}
#top-menu {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: arial
}
#top-menu:active {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: arial
}
#top-menu:visited {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: arial
}
#top-menu:hover {
	FONT-SIZE: 8pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #020a88; FONT-FAMILY: arial
}
UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; LIST-STYLE-IMAGE: url(images/bullet.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: normal; PADDING-TOP: 5px; FONT-FAMILY: arial; LIST-STYLE-TYPE: square
}
HR {
	COLOR: #020a87
}
